.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
.schedule-comp {
  background: url(../media/schedule-comp-bg.webp);
  background-size: cover;
  max-height: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
